@model IEnumerable<VendorsPortal.Models.Vendor>
@{
	ViewBag.Title = "Home Page";
}
<br />
<p>Register your business</p>
<p><input type="button" value="Register" onclick="location.href='@Url.Action("Create", "Vendors")'" class="btn btn-default " /></p>
<p>Sign in</p>
<p><input type="button" value="Sign in" onclick="location.href='@Url.Action("Index", "Login")'" class="btn btn-default " /></p>

<br />


<div class="jumbotron">

	@using (Html.BeginForm("Index", "Home", FormMethod.Get))
	{

		<div class="form-inline">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						@Html.DropDownList("VendorTypeId", null, string.Empty, htmlAttributes: new { @class = "form-control",  @style = "width:300px;" })


					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<input type="text" name="searcharea" class="form-control" placeholder="" id="searcharea"  width="500" />
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<button class="btn btn-default">Search</button>
					</div>
				</div>

			</div>
		</div>

	}
	<br />
	<br />

</div>
<table class="table table-condensed table-hover table-striped">
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.VendorType.VendorTypeName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.VendorName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Area.AreaName)
			</td>
			<td>
				<img src="~/File?id=@item.Files.First(f => f.FileType == VendorsPortal.Models.FileType.Avatar).FileId" alt="avatar" width="100" class="img-rounded" />

			</td>
			<td>
				@Html.ActionLink("Profile", "Details", new { id = item.VendorId }) 
			</td>
		</tr>
	}
</table>



@*@using (Html.BeginForm("Index", "Home", FormMethod.Get))
	{

		<div class="form-inline">
			<div class="form-group">
				<label for="email">Vendor Type:</label>
				@Html.DropDownList("VendorTypeId", null, htmlAttributes: new { @class = "form-control" })

				<label for="email">Area:</label>
				<input type="text" name="searchtrade" class="form-control" placeholder="" id="searchtrade" />
				<input type="hidden" id="hfTrade" name="searchtrade" />
				<button type="button" class="btn btn-default">Search</button>
			</div>
		</div>

	}*@




@*<div class="row">
		<div class="col-md-4">
			<h2>Getting started</h2>
			<p>
				ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
				enables a clean separation of concerns and gives you full control over markup
				for enjoyable, agile development.
			</p>
			<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Get more libraries</h2>
			<p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
			<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Web Hosting</h2>
			<p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
			<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
		</div>
	</div>*@


