@model VendorsPortal.ViewModels.QuotesProvidedViewModel
@{
	ViewBag.Title = "QuotesProvided";
}

	<body>

		<table class="table table-striped table-hover table-condensed">
			<tr class="info">
				<th>Quote ID</th>
				<th>Customer Name </th>
				<th>Event Type</th>
				<th>Event Date</th>
				<th>Email Address</th>
				<th>Quoted Price</th>
				<th></th>
			</tr>


			@foreach (var quoted in Model.Quotes)
			{
				<tr>
					<td>@quoted.QuoteId </td>
					<td>@quoted.ContactFullName</td>
					<td>@quoted.EventType</td>
					<td>@quoted.EventDate</td>
					<td>@quoted.Email</td>
					<td class="warning">
						@if (quoted.QuotesProvided != null)
						{
							<p>@quoted.QuotesProvided.Price</p>
						}
						else
						{
							<p>Awaiting Quotation</p>
						}
					</td>
					<td>
						@if (quoted.QuotesProvided != null)
						{
							<p>Quote already Provided</p>
						}
						else
						{
							@Html.ActionLink("Respond", "Create", "QuotesProvided", new { id = quoted.QuoteId }, null)
						}
					</td>
					@*<td>
						@Html.ActionLink("Edit", "Edit", new { id = quoted.QuoteId }) |
						@Html.ActionLink("Details", "Details", new { id = quoted.QuoteId }) |
						@Html.ActionLink("Delete", "Delete", new { id = quoted.QuoteId })|
						@Html.ActionLink("Respond", "Create", "QuotesProvided", new { id = quoted.QuoteId }, null)
					</td>*@
				</tr>
			}
		</table>
	</body>