@model VendorsPortal.ViewModels.QuotesProvidedViewModel
@{
	ViewBag.Title = "QuotesProvided";
}

	<body>

		<table class="table table-striped table-hover table-condensed table-bordered">
			<tr class="info">
				<th>Quote ID</th>
				<th>Customer Name </th>
				<th>Event Type</th>
				<th>Event Date</th>
				<th>Email Address</th>
				<th>Quoted Price</th>
				<th></th>
			</tr>


			@foreach (var quoted in Model.Quotes)
			{
		<tr class="active">
			<td><strong>@quoted.QuoteId</strong> </td>
			<td><strong>@quoted.ContactFullName</strong></td>
			<td><strong>@quoted.EventType</strong></td>
			<td><strong>@quoted.EventDate</strong></td>
			<td><strong>@quoted.Email</strong></td>
			<td>
				@if (quoted.QuotesProvided != null)
				{

					<p> <strong>&#x20a6; @quoted.QuotesProvided.Price</strong></p>

				}
				else
				{
			<p><strong>Awaiting Quotation</strong></p>
				}
				
			</td>
			<td>
				@if (quoted.QuotesProvided != null)
				{
					<p><strong>Quote already Provided</strong></p>
				}
				else
				{
					@Html.ActionLink("Respond", "Create", "QuotesProvided", new { id = quoted.QuoteId }, null)
				}
			</td>
			@*<td>
			@Html.ActionLink("Edit", "Edit", new { id = quoted.QuoteId }) |
			@Html.ActionLink("Details", "Details", new { id = quoted.QuoteId }) |
			@Html.ActionLink("Delete", "Delete", new { id = quoted.QuoteId })|
			@Html.ActionLink("Respond", "Create", "QuotesProvided", new { id = quoted.QuoteId }, null)
		</td>*@
		</tr>
			}
		</table>
	</body>