@model VendorsPortal.Models.QuotesProvided

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuotesProvided</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quote.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quote.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalInformation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuotesProvidedId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
